<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>album</key>
		<string>手写青春</string>
		<key>title</key>
		<string>一次就好</string>
		<key>url</key>
		<string>一次就好.mp3</string>
		<key>singer</key>
		<string>杨宗纬</string>
		<key>singerIcon</key>
		<string>yzw_icon</string>
		<key>singerImg</key>
		<string>yzw.jpg</string>
	</dict>
	<dict>
		<key>album</key>
		<string>未知</string>
		<key>title</key>
		<string>测试1</string>
		<key>url</key>
		<string>test1.mp3</string>
		<key>singer</key>
		<string>未知</string>
		<key>singerIcon</key>
		<string>default_icon</string>
		<key>singerImg</key>
		<string>无</string>
	</dict>
	<dict>
		<key>album</key>
		<string>南拳妈妈的夏天</string>
		<key>title</key>
		<string>瓦解</string>
		<key>url</key>
		<string></string>
		<key>singer</key>
		<string>南拳妈妈</string>
		<key>singerIcon</key>
		<string>nanquan_icon.jpg</string>
		<key>singerImg</key>
		<string>nanquan.jpg</string>
	</dict>
	<dict>
		<key>album</key>
		<string>编号89757</string>
		<key>title</key>
		<string>一千年以后</string>
		<key>url</key>
		<string>309769.mp3</string>
		<key>singer</key>
		<string>林俊杰</string>
		<key>singerIcon</key>
		<string>jj_icon.png</string>
		<key>singerImg</key>
		<string>jj.jpg</string>
	</dict>
	<dict>
		<key>album</key>
		<string>偷心</string>
		<key>title</key>
		<string>心碎了无痕</string>
		<key>url</key>
		<string>235319.mp3</string>
		<key>singer</key>
		<string>张学友</string>
		<key>singerIcon</key>
		<string>zxy_icon.jpg</string>
		<key>singerImg</key>
		<string>zxy.jpg</string>
	</dict>
</array>
</plist>
